/* Requires: normalize.css */
/* Global Reset & Standards ---------------------- */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html { font-size: 62.5% }
body {
	font-family: DroidSansRegular, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 10px;
	color: #666;
	position: relative;
	-webkit-font-smoothing: antialiased;
}
/* Links ---------------------- */
a { color: #2ba6cb; text-decoration: none; line-height: inherit; }
a:hover { color: #2795b6 }
a:focus { color: #2ba6cb; outline: none; }
p a,p a:visited { line-height: inherit }
img {border:0px;}
#googlemap img,object,embed { max-width: none }
#map_canvas embed { max-width: none }
#map_canvas img { max-width: none }
#map_canvas object { max-width: none }
/* Reset for strange margins by default on <figure> elements */
figure { margin: 0 }
/* Base Type Styles Using Modular Scale ---------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,th,td {
	margin: 0;
	padding: 0;
	font-size: 14px;
	direction: ltr;
}
p {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 15px;
}
p.lead { font-size: 17.5px; line-height: 1.6; margin-bottom: 17px; }
::-webkit-input-placeholder { font-size: 12px }
aside p { font-size: 13px; line-height: 1.35; font-style: italic; }
h1,h2,h3,h4,h5,h6 { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; color: #222222; text-rendering: optimizeLegibility; line-height: 1.1; margin-bottom: 14px; margin-top: 14px; }
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; }
h1 { font-size: 40px }
h2 { font-size: 37px }
h3 { font-size: 27px }
h4 { font-size: 23px }
h5 { font-size: 17px }
h6 { font-size: 14px }
hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 22px 0 21px; height: 0; }
.subheader { line-height: 1.3; color: #6f6f6f; font-weight: 300; margin-bottom: 17px; }
em,i { font-style: italic; line-height: inherit; }
strong,b { font-weight: bold; line-height: inherit; }
small { font-size: 60%; line-height: inherit; }
code { font-weight: bold; background: #ffff99; }
/* Lists ---------------------- */
ul,ol { font-size: 14px; line-height: 1.6; margin-bottom: 17px; list-style-position: inside; }
ul li ul,ul li ol { margin-left: 20px; margin-bottom: 0; }
ul.square,ul.circle,ul.disc { margin-left: 17px }
ul.square { list-style-type: square }
ul.square li ul { list-style: inherit }
ul.circle { list-style-type: circle }
ul.circle li ul { list-style: inherit }
ul.disc { list-style-type: disc }
ul.disc li ul { list-style: inherit }
ul.no-bullet { list-style: none }
ul.large li { line-height: 21px }
ol li ul,ol li ol { margin-left: 20px; margin-bottom: 0; }
/* Blockquotes ---------------------- */
blockquote,blockquote p { color: #6f6f6f; }
blockquote { margin: 0 0 17px; padding: 9px 20px 0 19px;}
blockquote cite { display: block; font-size: 13px; color: #555555; }
blockquote cite:before { content: "\2014 \0020" }
blockquote cite a,blockquote cite a:visited { color: #555555 }
abbr,acronym { text-transform: uppercase; font-size: 90%; color: #222222; border-bottom: 1px solid #ddd; cursor: help; }
abbr { text-transform: none }
/* Print styles.  Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/ Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/
.print-only { display: none !important }
@media print { 
	* { background: transparent !important; color: black !important; box-shadow: none !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
	/* Black prints faster: h5bp.com/s */
	a,
	a:visited { text-decoration: underline }
	a[href]:after { content: " (" attr(href) ")" }
	abbr[title]:after { content: " (" attr(title) ")" }
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after { content: "" }
	/* Don't show links for images, or javascript/internal links */
	pre,	blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group }
	/* h5bp.com/t */
	tr,img { page-break-inside: avoid }
	img { max-width: 100% !important }
}
/* Requires globals.css */
/* Standard Forms ---------------------- */
form { margin: 0 0 19.41641px }
.row form .row { margin: 0 -6px }
.row form .row .column,
.row form .row .columns { padding: 0 6px }
.row form .row.collapse { margin: 0 }
.row form .row.collapse .column,
.row form .row.collapse .columns { padding: 0 }
label { color: #4d4d4d; cursor: pointer; display: block; font-weight: 500; margin-bottom: 3px; }
label.right { float: none; text-align: right; }
label.inline { line-height: 32px; margin: 0 0 12px 0; }
.prefix,.postfix { display: block; position: relative; z-index: 2; text-align: center; width: 100%; padding-top: 0; padding-bottom: 0; height: 32px; line-height: 31px; }
a.button.prefix,a.button.postfix { padding-left: 0; padding-right: 0; text-align: center; }
span.prefix,span.postfix { background: #f2f2f2; border: 1px solid #cccccc; }
.prefix { left: 2px; -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; overflow: hidden; }
.postfix { right: 2px; -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }
input[type="text"],input[type="password"],input[type="date"],input[type="datetime"],input[type="email"],input[type="number"],input[type="search"],input[type="tel"],input[type="time"],input[type="url"],textarea { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; border: 0px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); color: rgba(0, 0, 0, 0.75); display: block; font-size: 14px; margin: 1px 0 12px 0; padding: 6px; height: 30px; width: 100%; -webkit-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; transition: all 0.15s linear; }
input[type="text"].oversize,input[type="password"].oversize,input[type="date"].oversize,input[type="datetime"].oversize,input[type="email"].oversize,input[type="number"].oversize,input[type="search"].oversize,input[type="tel"].oversize,input[type="time"].oversize,input[type="url"].oversize,textarea.oversize { font-size: 17px; padding: 4px 6px; }
input[type="text"]:focus,input[type="password"]:focus,input[type="date"]:focus,input[type="datetime"]:focus,input[type="email"]:focus,input[type="number"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="time"]:focus,input[type="url"]:focus,textarea:focus { background: #fafafa; outline: none !important; border-color: #b3b3b3; }
input[type="text"][disabled],input[type="password"][disabled],input[type="date"][disabled],input[type="datetime"][disabled],input[type="email"][disabled],input[type="number"][disabled],input[type="search"][disabled],input[type="tel"][disabled],input[type="time"][disabled],input[type="url"][disabled],textarea[disabled] { background-color: #ddd }
textarea { height: auto }
select { width: 100% }
/* Fieldsets */
fieldset { border: solid 1px #ddd; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; padding: 12px 12px 0; margin: 18px 0; }
fieldset legend { font-weight: bold; background: white; padding: 0 3px; margin: 0; margin-left: -3px; }
/* Errors */
.error input,input.error,.error textarea,textarea.error { border-color: #c60f13; background-color: rgba(198, 15, 19, 0.1); }
.error label,label.error { color: #c60f13 }
.error small,small.error { display: block; padding: 6px 4px; margin-top: -13px; margin-bottom: 12px; background: #c60f13; color: #fff; font-size: 12px; font-size: 1.2rem; font-weight: bold; -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }

/* Custom Forms ---------------------- */
form.custom { /* Custom input, disabled */:  }
form.custom span.custom { display: inline-block; width: 16px; height: 16px; position: relative; top: 2px; border: solid 1px #ccc; background: #fff; }
form.custom span.custom.radio { -webkit-border-radius: 100px; -moz-border-radius: 100px; -ms-border-radius: 100px; -o-border-radius: 100px; border-radius: 100px; }
form.custom span.custom.checkbox:before { content: ""; display: block; line-height: 0.8; height: 14px; width: 14px; text-align: center; position: absolute; top: 0; left: 0; font-size: 14px; color: #fff; }
form.custom span.custom.radio.checked:before { content: ""; display: block; width: 8px; height: 8px; -webkit-border-radius: 100px; -moz-border-radius: 100px; -ms-border-radius: 100px; -o-border-radius: 100px; border-radius: 100px; background: #222; position: relative; top: 3px; left: 3px; }
form.custom span.custom.checkbox.checked:before { content: "\00d7"; color: #222; }
form.custom div.custom.dropdown { display: block; position: relative; width: auto; height: 28px; margin-bottom: 9px; margin-top: 2px; }
form.custom div.custom.dropdown a.current { display: block; width: auto; line-height: 26px; min-height: 28px; padding: 0; padding-left: 6px; padding-right: 38px; border: solid 1px #ddd; color: #141414; background-color: #fff; white-space: nowrap; }
form.custom div.custom.dropdown a.selector { position: absolute; width: 27px; height: 28px; display: block; right: 0; top: 0; border: solid 1px #ddd; }
form.custom div.custom.dropdown a.selector:after { content: ""; display: block; content: ""; display: block; width: 0; height: 0; border: solid 5px; border-color: #aaaaaa transparent transparent transparent; position: absolute; left: 50%; top: 50%; margin-top: -2px; margin-left: -5px; }
form.custom div.custom.dropdown:hover a.selector:after,
form.custom div.custom.dropdown.open a.selector:after { content: ""; display: block; width: 0; height: 0; border: solid 5px; border-color: #222222 transparent transparent transparent; }
form.custom div.custom.dropdown.open ul { display: block; z-index: 10; }
form.custom div.custom.dropdown.small { width: 134px !important }
form.custom div.custom.dropdown.medium { width: 254px !important }
form.custom div.custom.dropdown.large { width: 434px !important }
form.custom div.custom.dropdown.expand { width: 100% !important }
form.custom div.custom.dropdown.open.small ul { width: 134px !important }
form.custom div.custom.dropdown.open.medium ul { width: 254px !important }
form.custom div.custom.dropdown.open.large ul { width: 434px !important }
form.custom div.custom.dropdown.open.expand ul { width: 100% !important }
form.custom div.custom.dropdown ul { position: absolute; width: auto; display: none; margin: 0; left: 0; top: 27px; margin: 0; padding: 0; background: #fff; background: rgba(255, 255, 255, 0.95); border: solid 1px #cccccc; }
form.custom div.custom.dropdown ul li { color: #555; font-size: 13px; cursor: pointer; padding: 3px; padding-left: 6px; padding-right: 38px; min-height: 18px; line-height: 18px; margin: 0; white-space: nowrap; list-style: none; }
form.custom div.custom.dropdown ul li.selected { background: #cdebf5; color: #000; }
form.custom div.custom.dropdown ul li.selected:after { content: "\2013"; position: absolute; right: 10px; }
form.custom div.custom.dropdown ul li:hover { background-color: #e3f4f9; color: #222; }
form.custom div.custom.dropdown ul li:hover:after { content: "\2013"; position: absolute; right: 10px; color: #8ed3e7; }
form.custom div.custom.dropdown ul li.selected:hover { background: #cdebf5; cursor: default; color: #000; }
form.custom div.custom.dropdown ul li.selected:hover:after { color: #000 }
form.custom div.custom.dropdown ul.show { display: block }
form.custom .custom.disabled { background-color: #ddd }
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on October 2, 2013 07:45:19 AM America/New_York */
@font-face { font-family: 'DroidSansRegular'; src: url('fonts/DroidSans-webfont.eot'); src: url('fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/DroidSans-webfont.woff') format('woff'), url('fonts/DroidSans-webfont.ttf') format('truetype'), url('fonts/DroidSans-webfont.svg#DroidSansRegular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'DroidSansBold'; src: url('fonts/DroidSans-Bold-webfont.eot'); src: url('fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/DroidSans-Bold-webfont.woff') format('woff'), url('fonts/DroidSans-Bold-webfont.ttf') format('truetype'), url('fonts/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BitterRegular'; src: url('fonts/Bitter-Regular-webfont.eot'); src: url('fonts/Bitter-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Bitter-Regular-webfont.woff') format('woff'), url('fonts/Bitter-Regular-webfont.ttf') format('truetype'), url('fonts/Bitter-Regular-webfont.svg#BitterRegular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BitterItalic'; src: url('fonts/Bitter-Italic-webfont.eot'); src: url('fonts/Bitter-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Bitter-Italic-webfont.woff') format('woff'), url('fonts/Bitter-Italic-webfont.ttf') format('truetype'), url('fonts/Bitter-Italic-webfont.svg#BitterItalic') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BitterBold'; src: url('fonts/Bitter-Bold-webfont.eot'); src: url('fonts/Bitter-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Bitter-Bold-webfont.woff') format('woff'), url('fonts/Bitter-Bold-webfont.ttf') format('truetype'), url('fonts/Bitter-Bold-webfont.svg#BitterBold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'ChunkFiveRegular'; src: url('fonts/Chunkfive-webfont.eot'); src: url('fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Chunkfive-webfont.woff') format('woff'), url('fonts/Chunkfive-webfont.ttf') format('truetype'), url('fonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg'); font-weight: normal; font-style: normal;}
/* Correct FF custom dropdown height */
@-moz-document url-prefix() { 
	form.custom div.custom.dropdown a.selector { height: 30px }
}
.lt-ie9 form.custom div.custom.dropdown a.selector { height: 30px }
/* The Grid ---------------------- */
.row { width: 980px; max-width: 100%; min-width: 768px; margin: 0 auto; }
.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.row.collapse .column,
.row.collapse .columns { padding: 0 }
.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.row .row.collapse { margin: 0 }
.column,
.columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.column.centered,
.columns.centered { float: none; margin: 0 auto; }
[class*="column"] + [class*="column"]:last-child { float: right }
[class*="column"] + [class*="column"].end { float: left }
.one,.row .one { width: 8.33333% }
.two,.row .two { width: 16.66667% }
.three,.row .three { width: 25% }
.four,.row .four {
	width: 43%
}
.five,.row .five { width: 41.66667% }
.six,.row .six { width: 50% }
.seven,.row .seven { width: 58.33333% }
.eight,.row .eight {
	width: 45
}
.nine,.row .nine { width: 75% }
.ten,.row .ten { width: 83.33333% }
.eleven,.row .eleven { width: 91.66667% }
.twelve,.row .twelve { width: 100% }
.row .offset-by-one { margin-left: 8.33333% }
.row .offset-by-two { margin-left: 16.66667% }
.row .offset-by-three { margin-left: 25% }
.row .offset-by-four { margin-left: 33.33333% }
.row .offset-by-five { margin-left: 41.66667% }
.row .offset-by-six { margin-left: 50% }
.row .offset-by-seven { margin-left: 58.33333% }
.row .offset-by-eight { margin-left: 66.66667% }
.row .offset-by-nine { margin-left: 75% }
.row .offset-by-ten { margin-left: 83.33333% }
.push-two { left: 16.66667% }
.pull-two { right: 16.66667% }
.push-three { left: 25% }
.pull-three { right: 25% }
.push-four { left: 33.33333% }
.pull-four { right: 33.33333% }
.push-five { left: 41.66667% }
.pull-five { right: 41.66667% }
.push-six { left: 50% }
.pull-six { right: 50% }
.push-seven { left: 58.33333% }
.pull-seven { right: 58.33333% }
.push-eight { left: 66.66667% }
.pull-eight { right: 66.66667% }
.push-nine { left: 75% }
.pull-nine { right: 75% }
.push-ten { left: 83.33333% }
.pull-ten { right: 83.33333% }
img,object,embed { height: auto }
object,embed { height: 100% }
img { -ms-interpolation-mode: bicubic }
#map_canvas img,.map_canvas img { max-width: none!important }
/* Nicolas Gallagher's micro clearfix */
.row { *zoom: 1  }
.row:before,.row:after { content: ""; display: table; }
.row:after { clear: both }
/* Block Grids ---------------------- */
/* These are 2-up, 3-up, 4-up and 5-up ULs, suited
for repeating blocks of content. Add 'mobile' to
them to switch them just like the layout grid
(one item per line) on phones

For IE7/8 compatibility block-grid items need to be
the same height. You can optionally uncomment the
lines below to support arbitrary height, but know
that IE7/8 do not support :nth-child.
-------------------------------------------------- */
.block-grid { display: block; overflow: hidden; padding: 0; }
.block-grid > li { display: block; height: auto; float: left; }
.block-grid.one-up { margin: 0 }
.block-grid.one-up > li { width: 100%; padding: 0 0 15px; }
.block-grid.two-up { margin: 0 -15px }
.block-grid.two-up > li { width: 50%; padding: 0 15px 15px; }
.block-grid.two-up > li:nth-child(2n+1) { clear: both }
.block-grid.three-up { margin: 0 -12px }
.block-grid.three-up > li { width: 33.33%; padding: 0 12px 12px; }
.block-grid.three-up > li:nth-child(3n+1) { clear: both }
.block-grid.four-up { margin: 0 -10px }
.block-grid.four-up > li { width: 25%; padding: 0 10px 10px; }
.block-grid.four-up > li:nth-child(4n+1) { clear: both }
.block-grid.five-up { margin: 0 -8px }
.block-grid.five-up > li { width: 20%; padding: 0 8px 8px; }
.block-grid.five-up > li:nth-child(5n+1) { clear: both }
/* Mobile Block Grids */
@media only screen and (max-width: 767px) { 
	.block-grid.mobile > li { float: none; width: 100%; margin-left: 0; }
	.block-grid > li { clear: none !important }
	.block-grid.mobile-two-up > li { width: 50% }
	.block-grid.mobile-two-up > li:nth-child(2n+1) { clear: both }
	.block-grid.mobile-three-up > li { width: 33.33% }
	.block-grid.mobile-three-up > li:nth-child(3n+1) { clear: both !important }
	.block-grid.mobile-four-up > li { width: 25% }
	.block-grid.mobile-four-up > li:nth-child(4n+1) { clear: both }
	.block-grid.mobile-five-up > li:nth-child(5n+1) { clear: both }
}
/* Requires globals.css */
/* Normal Buttons ---------------------- */
.button { border: 0px; nowhitespace: afterproperty; width: auto; nowhitespace: afterproperty; background: #444; color: white; cursor: pointer; display: inline-block; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; line-height: 1; margin: 0; outline: none; padding: 8px 17px 9px; position: relative; text-align: center; text-decoration: none; -webkit-transition: background-color 0.15s ease-in-out; -moz-transition: background-color 0.15s ease-in-out; -o-transition: background-color 0.15s ease-in-out; transition: background-color 0.15s ease-in-out; /* Hovers */ /* Sizes */ /* Colors */ /* Radii */ /* Layout */ /* Disabled ---------- */ }
.button:hover { color: white; background-color: #555; }
.button:active { }
.button:focus { color: white }
.button.large { font-size: 17px; padding: 15px 30px 16px; }
.button.medium { font-size: 14px }
.button.small { font-size: 11px; padding: 7px 14px 8px; }
.button.tiny { font-size: 10px; padding: 5px 10px 6px; }
.button.expand { width: 100%; text-align: center; }
.button.primary { background-color: #2ba6cb }
.button.primary:hover { background-color: #2284a1 }
.button.primary:focus { -webkit-box-shadow: 0 0 4px #2ba6cb, 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 0 4px #2ba6cb, 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 0 4px #2ba6cb, 0 1px 0 rgba(255, 255, 255, 0.5) inset; }
.button.success { background-color: #5da423 }
.button.success:hover { background-color: #457a1a }
.button.success:focus { -webkit-box-shadow: 0 0 5px #5da423, 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 0 5px #5da423, 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 0 5px #5da423, 0 1px 0 rgba(255, 255, 255, 0.5) inset; }
.button.alert { background-color: #c60f13 }
.button.alert:hover { background-color: #970b0e }
.button.alert:focus { -webkit-box-shadow: 0 0 4px #c60f13, 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 0 4px #c60f13, 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 0 4px #c60f13, 0 1px 0 rgba(255, 255, 255, 0.5) inset; }
.button.secondary { background-color: #e9e9e9; color: #1d1d1d; }
.button.secondary:hover { background-color: #d0d0d0 }
.button.secondary:focus { -webkit-box-shadow: 0 0 5px #e9e9e9, 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 0 5px #e9e9e9, 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 0 5px #e9e9e9, 0 1px 0 rgba(255, 255, 255, 0.5) inset; }
.button.radius { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.button.round { -webkit-border-radius: 1000px; -moz-border-radius: 1000px; -ms-border-radius: 1000px; -o-border-radius: 1000px; border-radius: 1000px; }
.button.full-width { width: 100%; text-align: center; padding-left: 0px !important; padding-right: 0px !important; }
.button.left-align { text-align: left; text-indent: 12px; }
.button.disabled,
.button[disabled] { opacity: 0.6; cursor: default; background: #2ba6cb; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.button.disabled :hover,
.button[disabled] :hover { background: #2ba6cb }
.button.disabled.success,
.button[disabled].success { background-color: #5da423 }
.button.disabled.success:hover,
.button[disabled].success:hover { background-color: #5da423 }
.button.disabled.alert,
.button[disabled].alert { background-color: #c60f13 }
.button.disabled.alert:hover,
.button[disabled].alert:hover { background-color: #c60f13 }
.button.disabled.secondary,
.button[disabled].secondary { background-color: #e9e9e9 }
.button.disabled.secondary:hover,
.button[disabled].secondary:hover { background-color: #e9e9e9 }
/* Don't use native buttons on iOS */
input[type=submit].button,
button.button { -webkit-appearance: none }

/* Correct FF button padding */
@-moz-document url-prefix() { 
	button::-moz-focus-inner,
	input[type="reset"]::-moz-focus-inner,
	input[type="button"]::-moz-focus-inner,
	input[type="submit"]::-moz-focus-inner,
	input[type="file"] > input[type="button"]::-moz-focus-inner { border: none; padding: 0; }
	input[type="submit"].tiny.button { padding: 3px 10px 4px }
	input[type="submit"].small.button { padding: 5px 14px 6px }
	input[type="submit"].button,
	input[type=submit].medium.button { padding: 8px 20px 9px }
	input[type="submit"].large.button { padding: 13px 30px 14px }
}
/* Buttons with Dropdowns ---------------------- */
.button.dropdown { position: relative; nowhitespace: afterproperty; nowhitespace: afterproperty; padding-right: 44px; /* Sizes */ /* Triangles */ /* Flyout List */ /* Split Dropdown Buttons */ }
.button.dropdown.large { padding-right: 60px }
.button.dropdown.small { padding-right: 28px }
.button.dropdown.tiny { padding-right: 20px }
.button.dropdown:after { content: ""; display: block; width: 0; height: 0; border: solid 6px; border-color: white transparent transparent transparent; position: absolute; top: 50%; right: 20px; margin-top: -2px; }
.button.dropdown.large:after { content: ""; display: block; width: 0; height: 0; border: solid 7px; border-color: white transparent transparent transparent; margin-top: -3px; right: 30px; }
.button.dropdown.small:after { content: ""; display: block; width: 0; height: 0; border: solid 5px; border-color: white transparent transparent transparent; margin-top: -2px; right: 14px; }
.button.dropdown.tiny:after { content: ""; display: block; width: 0; height: 0; border: solid 4px; border-color: white transparent transparent transparent; margin-top: -1px; right: 10px; }
.button.dropdown > ul { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; display: none; position: absolute; left: -1px; background: #fff; background: rgba(255, 255, 255, 0.95); list-style: none; margin: 0; padding: 0; border: 1px solid #cccccc; border-top: none; min-width: 100%; z-index: 40; }
.button.dropdown > ul li { width: 100%; cursor: pointer; padding: 0; min-height: 18px; line-height: 18px; margin: 0; white-space: nowrap; list-style: none; }
.button.dropdown > ul li a { display: block; color: #555; font-size: 13px; font-weight: normal; padding: 6px 14px; text-align: left; }
.button.dropdown > ul li:hover { background-color: #e3f4f9; color: #222; }
.button.dropdown > ul li.divider { min-height: 0; padding: 0; height: 1px; margin: 4px 0; background: #ededed; }
.button.dropdown.up > ul { border-top: 1px solid #cccccc; border-bottom: none; }
.button.dropdown ul.no-hover.show-dropdown { display: block !important }
.button.dropdown:hover > ul.no-hover { display: none }
.button.dropdown.split { padding: 0; nowhitespace: afterproperty; nowhitespace: afterproperty; position: relative; /* Sizes */ /* Triangle Spans */ /* Colors */ }
.button.dropdown.split:after { display: none }
.button.dropdown.split:hover { background-color: #2ba6cb }
.button.dropdown.split.alert:hover { background-color: #c60f13 }
.button.dropdown.split.success:hover { background-color: #5da423 }
.button.dropdown.split.secondary:hover { background-color: #e9e9e9 }
.button.dropdown.split > a { color: white; display: block; padding: 10px 50px 11px 20px; padding-left: 20px; padding-right: 50px; -webkit-transition: background-color 0.15s ease-in-out; -moz-transition: background-color 0.15s ease-in-out; -o-transition: background-color 0.15s ease-in-out; transition: background-color 0.15s ease-in-out; }
.button.dropdown.split > a:hover { background-color: #2284a1 }
.button.dropdown.split.large > a { padding: 15px 75px 16px 30px; padding-left: 30px; padding-right: 75px; }
.button.dropdown.split.small > a { padding: 7px 35px 8px 14px; padding-left: 14px; padding-right: 35px; }
.button.dropdown.split.tiny > a { padding: 5px 25px 6px 10px; padding-left: 10px; padding-right: 25px; }
.button.dropdown.split > span { background-color: #2ba6cb; position: absolute; right: 0; top: 0; height: 100%; width: 30px; border-left: 1px solid #1e728c; -webkit-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5) inset; -webkit-transition: background-color 0.15s ease-in-out; -moz-transition: background-color 0.15s ease-in-out; -o-transition: background-color 0.15s ease-in-out; transition: background-color 0.15s ease-in-out; }
.button.dropdown.split > span:hover { background-color: #2284a1 }
.button.dropdown.split > span:after { content: ""; display: block; width: 0; height: 0; border: solid 6px; border-color: white transparent transparent transparent; position: absolute; top: 50%; left: 50%; margin-left: -6px; margin-top: -2px; }
.button.dropdown.split.secondary > span:after { content: ""; display: block; width: 0; height: 0; border: solid 6px; border-color: #1d1d1d transparent transparent transparent; }
.button.dropdown.split.large span { width: 45px }
.button.dropdown.split.small span { width: 21px }
.button.dropdown.split.tiny span { width: 15px }
.button.dropdown.split.large span:after { content: ""; display: block; width: 0; height: 0; border: solid 7px; border-color: white transparent transparent transparent; margin-top: -3px; margin-left: -7px; }
.button.dropdown.split.small span:after { content: ""; display: block; width: 0; height: 0; border: solid 4px; border-color: white transparent transparent transparent; margin-top: -1px; margin-left: -4px; }
.button.dropdown.split.tiny span:after { content: ""; display: block; width: 0; height: 0; border: solid 3px; border-color: white transparent transparent transparent; margin-top: -1px; margin-left: -3px; }
.button.dropdown.split.alert > span { background-color: #c60f13; border-left-color: #7f0a0c; }
.button.dropdown.split.success > span { background-color: #5da423; border-left-color: #396516; }
.button.dropdown.split.secondary > span { background-color: #e9e9e9; border-left-color: #c3c3c3; }
.button.dropdown.split.secondary > a { color: #1d1d1d }
.button.dropdown.split.alert > a:hover,
.button.dropdown.split.alert > span:hover { background-color: #970b0e }
.button.dropdown.split.success > a:hover,
.button.dropdown.split.success > span:hover { background-color: #457a1a }
.button.dropdown.split.secondary > a:hover,
.button.dropdown.split.secondary > span:hover { background-color: #d0d0d0 }
/* Button Groups ---------------------- */
ul.button-group { list-style: none; padding: 0; margin: 0 0 12px; *zoom: 1; }
ul.button-group:before,
ul.button-group:after { content: ""; display: table; }
ul.button-group:after { clear: both }
ul.button-group li { padding: 0; margin: 0 0 0 -1px; float: left; }
ul.button-group li:first-child { margin-left: 0 }
ul.button-group.radius li a.button,
ul.button-group.radius li a.button.radius,
ul.button-group.radius li a.button-rounded { -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; }
ul.button-group.radius li:first-child a.button,
ul.button-group.radius li:first-child a.button.radius { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; }
ul.button-group.radius li:first-child a.button.rounded { -moz-border-radius-topleft: 1000px; -webkit-border-top-left-radius: 1000px; border-top-left-radius: 1000px; -moz-border-radius-bottomleft: 1000px; -webkit-border-bottom-left-radius: 1000px; border-bottom-left-radius: 1000px; }
ul.button-group.radius li:last-child a.button,
ul.button-group.radius li:last-child a.button.radius { -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }
ul.button-group.radius li:last-child a.button.rounded { -moz-border-radius-topright: 1000px; -webkit-border-top-right-radius: 1000px; border-top-right-radius: 1000px; -moz-border-radius-bottomright: 1000px; -webkit-border-bottom-right-radius: 1000px; border-bottom-right-radius: 1000px; }
ul.button-group.even a.button { width: 100% }
ul.button-group.even.two-up li { width: 50% }
ul.button-group.even.three-up li { width: 33.3% }
ul.button-group.even.three-up li:first-child { width: 33.4% }
ul.button-group.even.four-up li { width: 25% }
ul.button-group.even.five-up li { width: 20% }
div.button-bar { overflow: hidden }
div.button-bar ul.button-group { float: left; margin-right: 8px; }
div.button-bar ul.button-group:last-child { margin-left: 0 }
/* Requires globals.css */
.nav-bar { height: 40px; margin-top: 30px; padding: 0; }
.nav-bar > li { float: left; display: block; position: relative; padding: 0; margin: 0 7px 0 0; line-height: 40px; }
.nav-bar > li:first-child { background: none }
.nav-bar > li:last-child { }
.nav-bar > li.active { }
.nav-bar > li.active > a { cursor: pointer }
.nav-bar > li.active:hover { cursor: default }
.nav-bar > li:hover { }
.nav-bar > li > a { color: #555 }
.nav-bar > li ul { margin-bottom: 0 }
.nav-bar > li .flyout { display: none }
.nav-bar > li.has-flyout > a:first-child { position: relative }
.nav-bar > li.has-flyout > a:first-child:after { content: ""; display: block; width: 0; height: 0; position: absolute; right: 0px; top: 0px; }
.nav-bar > li.has-flyout > a.flyout-toggle { background: none; border-left: 0 !important; position: absolute; right: 0; top: 0; padding: 20px; z-index: 2; display: block; }
.nav-bar > li.has-flyout.is-touch > a:first-child { padding-right: 55px }
.nav-bar > li.has-flyout.is-touch > a.flyout-toggle { border-left: 1px dashed #666 }
.nav-bar > li > a:first-child { position: relative; padding: 0 11px; display: block; text-decoration: none; font-size: 14px; }
.nav-bar > li > input { margin: 0 10px }
.nav-bar.vertical { height: auto; margin-top: 0; }
.nav-bar.vertical > li { float: none; border-bottom: none; border-right: solid 1px #333333; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.nav-bar.vertical > li.has-flyout > a:first-child:after { content: ""; display: block; width: 0; height: 0; border: solid 4px; border-color: transparent transparent transparent #e6e6e6; }
.nav-bar.vertical > li .flyout { left: 100%; top: -1px; }
.nav-bar.vertical > li .flyout.right { left: auto; right: 100%; }
.nav-bar.vertical > li.active { border-right: solid 1px #2284a1 }
.nav-bar.vertical > li:last-child { border-bottom: solid 1px #333333 }
.flyout { background: #fff; nowhitespace: afterproperty; nowhitespace: afterproperty; padding: 20px; margin: 0; position: absolute; top: 39px; left: -1px; width: 200px; z-index: 40; -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* remove margin on any first-child element */ /* remove margin on last element */ }
.flyout p { line-height: 1.2; font-size: 13px; color: #666; margin-bottom: 15px; }
.flyout *:first-child { margin-top: 0 }
.flyout *:last-child { margin-bottom: 0 }
.flyout.small { width: 166.66667px }
.flyout.large { width: 437.5px }
.flyout.right { left: auto; right: -2px; }
.flyout.left { right: auto; left: -2px; }
.flyout.up { top: auto; bottom: 39px; }
ul.flyout,.nav-bar li ul { padding: 0; list-style: none; }
ul.flyout li,.nav-bar li ul li { }
ul.flyout li a,.nav-bar li ul li a { margin: 0px 20px; background: #fff; border: 1px solid #e6e6e6; border-width: 0px 0px 1px 0; color: #555; display: block; font-size: 12px; height: auto; line-height: 1; padding: 12px 0px; -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; }
ul.flyout li a:hover,.nav-bar li ul li a:hover { background: #fff; color: #333; }
ul.flyout li.active,.nav-bar li ul li.active { margin-top: 0; border-top: 1px solid #4d4d4d; border-left: 1px solid #1a1a1a; }
ul.flyout li.active a,.nav-bar li ul li.active a { background: #fff; border: none; color: #fff; height: auto; margin: 0; position: static; top: 0; -webkit-box-shadow: 0 0 0; -moz-box-shadow: 0 0 0; box-shadow: 0 0 0; }
/* Correct timer in IE */
.lt-ie9 .timer { display: none !important }
.lt-ie9 div.caption { background: transparent; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000); zoom: 1; }
/* NOTES Close button entity is ×
 Example markup <div id="myModal" class="reveal-modal"> <h2>Awesome. I have it.</h2> <p class="lead">Your couch.  I it's mine.</p> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p> <a class="close-reveal-modal">×</a> </div> */
/* Requires -globals.css -app.js */
/* Tabs ---------------------- */
dl.tabs { border-bottom: solid 1px #e6e6e6; display: block; height: 40px; padding: 0; margin-bottom: 20px; }
dl.tabs.contained { margin-bottom: 0 }
dl.tabs dt { color: #b3b3b3; cursor: default; display: block; float: left; font-size: 12px; height: 40px; line-height: 40px; padding: 0; padding-right: 9px; padding-left: 20px; width: auto; text-transform: uppercase; }
dl.tabs dt:first-child { padding: 0; padding-right: 9px; }
dl.tabs dd { display: block; float: left; padding: 0; margin: 0; }
dl.tabs dd a { color: #6f6f6f; display: block; font-size: 14px; height: 40px; line-height: 40px; padding: 0px 23.8px; }
dl.tabs dd a:focus { font-weight: bold; color: #2ba6cb; }
dl.tabs dd.active { margin-top: -3px }
dl.tabs dd.active a { cursor: default; color: #3c3c3c; font-weight: bold; }
dl.tabs dd:first-child { margin-left: 0 }
dl.tabs.vertical { height: auto; border-bottom: 1px solid #e6e6e6; }
dl.tabs.vertical dt, dl.tabs.vertical dd { float: none; height: auto; }
dl.tabs.vertical dd { border-left: 3px solid #cccccc }
dl.tabs.vertical dd a { background: #f2f2f2; border: none; border: 1px solid #e6e6e6; border-width: 1px 1px 0 0; color: #555; display: block; font-size: 14px; height: auto; line-height: 1; padding: 15px 20px; -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; }
dl.tabs.vertical dd.active { margin-top: 0; border-top: 1px solid #4d4d4d; border-left: 4px solid #1a1a1a; }
dl.tabs.vertical dd.active a { background: #4d4d4d; border: none; color: #fff; height: auto; margin: 0; position: static; top: 0; -webkit-box-shadow: 0 0 0; -moz-box-shadow: 0 0 0; box-shadow: 0 0 0; }
dl.tabs.vertical dd:first-child a.active { margin: 0 }
dl.tabs.pill { border-bottom: none; margin-bottom: 10px; }
dl.tabs.pill dd { margin-right: 10px }
dl.tabs.pill dd:last-child { margin-right: 0 }
dl.tabs.pill dd a { -webkit-border-radius: 1000px; -moz-border-radius: 1000px; -ms-border-radius: 1000px; -o-border-radius: 1000px; border-radius: 1000px; background: #e6e6e6; height: 26px; line-height: 26px; color: #666; }
dl.tabs.pill dd.active { border: none; margin-top: 0; }
dl.tabs.pill dd.active a { background-color: #2ba6cb; border: none; color: #fff; }
dl.tabs.pill.contained { border-bottom: solid 1px #eee; margin-bottom: 0; }
dl.tabs.pill.two-up dd, dl.tabs.pill.three-up dd, dl.tabs.pill.four-up dd, dl.tabs.pill.five-up dd { margin-right: 0 }
dl.tabs.two-up dt a,dl.tabs.two-up dd a,dl.tabs.three-up dt a,dl.tabs.three-up dd a,dl.tabs.four-up dt a,dl.tabs.four-up dd a,dl.tabs.five-up dt a,dl.tabs.five-up dd a { padding: 0 17px; text-align: center; overflow: hidden; }
dl.tabs.two-up dt,dl.tabs.two-up dd { width: 50% }
dl.tabs.three-up dt,dl.tabs.three-up dd { width: 33.33% }
dl.tabs.four-up dt,dl.tabs.four-up dd { width: 25% }
dl.tabs.five-up dt,dl.tabs.five-up dd { width: 20% }
ul.tabs-content { display: block; margin: 0 0 20px; padding: 0; }
ul.tabs-content > li { display: none }
ul.tabs-content > li.active { display: block }
ul.tabs-content.contained { padding: 0 }
ul.tabs-content.contained > li { border: solid 0 #e6e6e6; border-width: 0 1px 1px 1px; padding: 20px; }
ul.tabs-content.contained.vertical > li { border-width: 1px 1px 1px 1px }
.no-js ul.tabs-content > li { display: block }

/* Requires: globals.css */
/* Table of Contents

:: Alerts
:: Labels
:: Tooltips
:: Panels
:: Accordion
:: Side Nav
:: Sub Nav
:: Pagination
:: Breadcrumbs
:: Lists
:: Link Lists
:: Keystroke Chars
:: Image Thumbnails
:: Video
:: Tables
:: Microformats
:: Progress Bars
:: Menu Superfish
:: Portofolio
:: Content

/* Alerts ---------------------- */
div.alert-box { display: block; padding: 6px 7px 7px; font-weight: bold; font-size: 14px; color: white; background-color: #2ba6cb; border: 1px solid rgba(0, 0, 0, 0.1); margin-bottom: 12px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; position: relative; }
div.alert-box.default { background-color: #EDC60F; color: #fff; }
div.alert-box.success { background-color: #5da423; color: #fff; text-shadow: 0 -1px rgba(0, 0, 0, 0.3); }
div.alert-box.alert { background-color: #c60f13; color: #fff; text-shadow: 0 -1px rgba(0, 0, 0, 0.3); }
div.alert-box.secondary { background-color: #e9e9e9; color: #505050; text-shadow: 0 1px rgba(255, 255, 255, 0.3); }
div.alert-box a.close { color: #333; position: absolute; right: 4px; top: -1px; font-size: 17px; opacity: 0.2; padding: 4px; }
div.alert-box a.close:hover,
div.alert-box a.close:focus { opacity: 0.4 }
/* Labels ---------------------- */
.label { padding: 1px 4px 2px; font-size: 12px; font-weight: bold; text-align: center; text-decoration: none; line-height: 1; white-space: nowrap; display: inline; position: relative; bottom: 1px; color: #fff; background: #2ba6cb; }
.label.radius { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.label.round { padding: 1px 7px 2px; -webkit-border-radius: 1000px; -moz-border-radius: 1000px; -ms-border-radius: 1000px; -o-border-radius: 1000px; border-radius: 1000px; }
.label.alert { background-color: #c60f13 }
.label.success { background-color: #5da423 }
.label.secondary { background-color: #e9e9e9; color: #505050; }
/* Tooltips ---------------------- */
.has-tip { cursor: default; color: #333333; }
.has-tip:hover { color: #2ba6cb }
.has-tip.tip-left,
.has-tip.tip-right { float: none !important }
.tooltip { display: none; background: black; background: rgba(0, 0, 0, 0.85); position: absolute; color: white; font-weight: bold; font-size: 12px; font-size: 1.2rem; padding: 5px; z-index: 999; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; line-height: normal; }
.tooltip > .nub { display: block; width: 0; height: 0; border: solid 5px; border-color: transparent transparent black transparent; border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent; position: absolute; top: -10px; left: 10px; }
.tooltip.tip-override > .nub { border-color: transparent transparent black transparent !important; border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent !important; top: -10px !important; }
.tooltip.tip-top > .nub { border-color: black transparent transparent transparent; border-color: rgba(0, 0, 0, 0.85) transparent transparent transparent; top: auto; bottom: -10px; }
.tooltip.tip-left,
.tooltip.tip-right { float: none !important }
.tooltip.tip-left > .nub { border-color: transparent transparent transparent black; border-color: transparent transparent transparent rgba(0, 0, 0, 0.85); right: -10px; left: auto; }
.tooltip.tip-right > .nub { border-color: transparent black transparent transparent; border-color: transparent rgba(0, 0, 0, 0.85) transparent transparent; right: auto; left: -10px; }
.tooltip.noradius { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
.tooltip.opened { color: #2ba6cb !important; border-bottom: dotted 1px #196177 !important; }
.tap-to-close { display: block; font-size: 10px; font-size: 1rem; color: #888888; font-weight: normal; }
/* Panels ---------------------- */
.panel { background: #f9f9f9; margin: 0 0 22px 0; padding: 20px; }
.panel > :first-child { margin-top: 0 }
.panel > :last-child { margin-bottom: 0 }
.panel.callout { background: #2ba6cb; color: #fff; border-color: #2284a1; -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); }
.panel.callout a { color: #fff }
.panel.callout .button { background: white; border: none; color: #2ba6cb; text-shadow: none; }
.panel.callout .button:hover { background: rgba(255, 255, 255, 0.8) }
.panel.radius { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
/* Accordion ---------------------- */
ul.accordion { margin: 0 0 22px 0; border-bottom: 1px solid #e9e9e9; }
ul.accordion > li { list-style: none; margin: 0; padding: 0; border-top: 1px solid #e9e9e9; }
ul.accordion > li .title { cursor: pointer; background: #f6f6f6; padding: 15px; margin: 0; position: relative; border-left: 1px solid #e9e9e9; border-right: 1px solid #e9e9e9; -webkit-transition: 0.15s background linear; -moz-transition: 0.15s background linear; -o-transition: 0.15s background linear; transition: 0.15s background linear; }
ul.accordion > li .title h1,
ul.accordion > li .title h2,
ul.accordion > li .title h3,
ul.accordion > li .title h4,
ul.accordion > li .title h5 { margin: 0 }
ul.accordion > li .title:after { content: ""; display: block; width: 0; height: 0; border: solid 6px; border-color: transparent #9d9d9d transparent transparent; position: absolute; right: 15px; top: 21px; }
ul.accordion > li .content { display: none; padding: 15px; }
ul.accordion > li.active { border-top: 3px solid #2ba6cb }
ul.accordion > li.active .title { background: white; padding-top: 13px; }
ul.accordion > li.active .title:after { content: ""; display: block; width: 0; height: 0; border: solid 6px; border-color: #9d9d9d transparent transparent transparent; }
ul.accordion > li.active .content { background: white; display: block; border-left: 1px solid #e9e9e9; border-right: 1px solid #e9e9e9; }
/* Side Nav ---------------------- */
ul.side-nav { display: block; list-style: none; margin: 0; padding: 17px 0; }
ul.side-nav li { display: block; list-style: none; margin: 0 0 7px 0; }
ul.side-nav li a { display: block }
ul.side-nav li.active a { color: #4d4d4d; font-weight: bold; }
ul.side-nav li.divider { border-top: 1px solid #e6e6e6; height: 0; padding: 0; }
/* Sub Navs http://www.zurb.com/article/292/how-to-create-simple-and-effective-sub-na ---------------------- */
dl.sub-nav { display: block; width: auto; overflow: hidden; margin: -4px 0 18px; margin-right: 0; margin-left: -9px; padding-top: 4px; }
dl.sub-nav dt,
dl.sub-nav dd { float: left; display: inline; margin-left: 9px; margin-bottom: 10px; }
dl.sub-nav dt { color: #999; font-weight: normal; }
dl.sub-nav dd a { text-decoration: none; -webkit-border-radius: 1000px; -moz-border-radius: 1000px; -ms-border-radius: 1000px; -o-border-radius: 1000px; border-radius: 1000px; }
dl.sub-nav dd.active a { font-weight: bold; background: #2ba6cb; color: #fff; padding: 3px 9px; cursor: default; }
/* Pagination ---------------------- */
ul.pagination { display: block; height: 24px; margin-left: -5px; }
ul.pagination li { float: left; display: block; height: 24px; color: #999; font-size: 14px; margin-left: 5px; }
ul.pagination li a { display: block; padding: 3px 7px 0px; color: #555; }
ul.pagination li:hover a,
ul.pagination li a:focus { background: #e6e6e6 }
ul.pagination li.unavailable a { cursor: default; color: #999; }
ul.pagination li.unavailable:hover a,
ul.pagination li.unavailable a:focus { background: transparent }
ul.pagination li.current a { background: #2ba6cb; color: white; font-weight: bold; cursor: default; }
ul.pagination li.current a:hover { background: #333 }
/* Breadcrums ---------------------- */
ul.breadcrumbs { display: block; background: #f6f6f6; padding: 6px 10px 7px; border: 1px solid #e9e9e9; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; overflow: hidden; }
ul.breadcrumbs li { margin: 0; padding: 0 12px 0 0; float: left; list-style: none; }
ul.breadcrumbs li a,
ul.breadcrumbs li span { text-transform: uppercase; font-size: 11px; font-size: 1.1rem; padding-left: 12px; }
ul.breadcrumbs li:first-child a,
ul.breadcrumbs li:first-child span { padding-left: 0 }
ul.breadcrumbs li:before { content: "/"; color: #aaa; }
ul.breadcrumbs li:first-child:before { content: " " }
ul.breadcrumbs li.current a { cursor: default; color: #333; }
ul.breadcrumbs li:hover a,
ul.breadcrumbs li a:focus { text-decoration: underline }
ul.breadcrumbs li.current:hover a,
ul.breadcrumbs li.current a:focus { text-decoration: none }
ul.breadcrumbs li.unavailable a { color: #999 }
ul.breadcrumbs li.unavailable:hover a,
ul.breadcrumbs li.unavailable a:focus { text-decoration: none; color: #999; cursor: default; }
/* Link List */
ul.link-list { margin: 0 0 17px -22px; padding: 0; list-style: none; overflow: hidden; }
ul.link-list li { list-style: none; float: left; margin-left: 22px; display: block; }
ul.link-list li a { display: block }
/* Keytroke Characters ---------------------- */
.keystroke,kbd { font-family: "Consolas", "Menlo", "Courier", monospace; font-size: 13px; padding: 2px 4px 0px; margin: 0; background: #ededed; border: solid 1px #dbdbdb; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
/* Image Thumbnails ---------------------- */
.th { display: block }
.th img { display: block; border: solid 4px #fff; -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2); box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2); -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-transition-property: box-shadow; -moz-transition-property: box-shadow; -o-transition-property: box-shadow; transition-property: box-shadow; -webkit-transition-duration: 300ms; -moz-transition-duration: 300ms; -o-transition-duration: 300ms; transition-duration: 300ms; }
.th:hover img { -webkit-box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5); -moz-box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5); box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5); }
/* Video - Mad props to http://www.alistapart.com/articles/creating-intrinsic-ratios-for-video/ ---------------------- */
.flex-video { position: relative; padding-top: 25px; padding-bottom: 67.5%; height: 0; margin-bottom: 16px; overflow: hidden; }
.flex-video.widescreen { padding-bottom: 57.25% }
.flex-video.vimeo { padding-top: 0 }
.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Foundation Top Bar
 Requires: -jquery.foundation.topbar.js
 Notes: - <nav class="top-bar"> can have .fixed added to make it stick to the top of viewport. Can add .contain-to-grid to top-bar to make it full width but content on grid. - <li class="name"> creates a branding area that can be linked to homepage - Can include text, image or both inside this <li>. - <li class="divider"> creates a divider between nav items, add margins for space - <li class="search"> Needs to hold a <form> which can use .row.collapse and pre/postfix buttons or default type="search"
*/
/* Element that controls breakpoint, no need to change this ever */
.top-bar-js-breakpoint { width: 960px !important; visibility: hidden; }
/* Wrapped around .top-bar to contain to grid width */
.contain-to-grid { width: 100% }
/* Wrapped around .top-bar to make it fixed at the top */
.fixed { width: 100%; left: 0; position: fixed; top: 0; z-index: 99; }
/* <nav> */
.top-bar { nowhitespace: afterproperty; height: 45px; line-height: 45px; margin: 0 0 30px; padding: 0; width: 100%; }
/* Firefox Fixes */
@-moz-document url-prefix() { 
	.top-bar ul li .button.small { padding-bottom: 6px }
	.top-bar ul li.search form input[type=search] { font-size: 14px; height: 22px; padding: 3px; }
}
/* IE8 Fixes */
.lt-ie9 .top-bar ul li a { color: white; display: block; font-weight: bold; font-size: 13px; height: 45px; line-height: 45px; padding: 0 15px; }
.lt-ie9 .top-bar ul li a.button { height: auto; line-height: 30px; margin-top: 7px; }
.lt-ie9 .top-bar ul li a:hover { color: #cccccc }
.lt-ie9 .top-bar ul li a img { margin-top: -5px; vertical-align: middle; }
.lt-ie9 .top-bar ul li a.active { background: #151515; color: #d9d9d9; }
.lt-ie9 .top-bar ul li.has-dropdown { padding-right: 33.75px }
.lt-ie9 .top-bar ul li.has-dropdown > ul li { padding-right: 0 }
/* Tables ---------------------- */
table { background: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin: 0 0 18px; border: 1px solid #ddd; }
table thead,table tfoot { background: #f5f5f5 }
table thead tr th,table tfoot tr th,table tbody tr td,table tr td,table tfoot tr td { font-size: 13px; line-height: 18px; text-align: left; }
table thead tr th,table tfoot tr td { padding: 8px 10px 9px; font-size: 16px; font-weight: bold; color: #222; }
table thead tr th:first-child,table tfoot tr td:first-child { border-left: none }
table thead tr th:last-child,table tfoot tr td:last-child { border-right: none }
table tbody tr.even,table tbody tr.alt { background: #f9f9f9 }
table tbody tr:nth-child(even) { background: #f9f9f9 }
table tbody tr td { color: #333; padding: 9px 10px; vertical-align: top; border: none; }
/* Microformats ---------------------- */
ul.vcard { display: inline-block; margin: 0 0 12px 0; border: 1px solid #ddd; padding: 10px; }
ul.vcard li { margin: 0; display: block; }
ul.vcard li.fn { font-weight: bold; font-size: 15px; font-size: 1.5rem; }
p.vevent span.summary { font-weight: bold }
p.vevent abbr { cursor: default; text-decoration: none; font-weight: bold; border: none; padding: 0 1px; }
/* Progress Bar ---------------------- */
div.progress { padding: 2px; nowhitespace: afterproperty; nowhitespace: afterproperty; margin-bottom: 10px; border: 1px solid #cccccc; height: 25px; /* meter */ /* border radii */ }
div.progress .meter { background: #2ba6cb; height: 100%; display: block; width: 50%; }
div.progress.secondary .meter { background: #e9e9e9 }
div.progress.success .meter { background: #5da423 }
div.progress.alert .meter { background: #c60f13 }
div.progress.radius { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
div.progress.radius .meter { -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
div.progress.round { -webkit-border-radius: 1000px; -moz-border-radius: 1000px; -ms-border-radius: 1000px; -o-border-radius: 1000px; border-radius: 1000px; }
div.progress.round .meter { -webkit-border-radius: 1000px; -moz-border-radius: 1000px; -ms-border-radius: 1000px; -o-border-radius: 1000px; border-radius: 1000px; }

/* MENU SUPERFISH */
#menu-icon { display: none; /* hide menu icon initially */ }
.sf-menu,.sf-menu li { margin: 0; padding: 0; float: right; }
.sf-menu li { list-style: none; float: left; }
.sf-menu a { padding: 4px 15px; display: block; color: #000; }
.sf-menu a:hover { }
.sf-menu ul { padding: 2px; position: absolute; display: none; /* hide dropdown */ width: 200px; }
.sf-menu ul li { float: none; margin: 0px; padding: 0px; }
.sf-menu li:hover > ul { display: block; /* show dropdown on hover */ }
ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul { left: 200px; /* match ul width */ top: 0; }
.sf-menu,.sf-menu * { margin: 0; padding: 0; list-style: none; }
.sf-menu,.sf-menu * { margin: 0; padding: 0; list-style: none; }
.sf-menu { line-height: 1.0 }
.sf-menu ul { position: absolute; top: -999em; width: 10em; }
.sf-menu ul li { width: 100% }
.sf-menu li:hover { visibility: inherit }
.sf-menu li { float: left; position: relative; margin-right: 7px; }
.sf-menu a { display: block; position: relative; }
.sf-menu li:hover ul, .sf-menu li.sfHover ul { left: 0; top: 2.5em; /* match top ul list item height */ z-index: 99; }
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul { top: -999em }
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul { left: 10em; /* match ul width */ top: 0; }
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul { top: -999em }
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul { left: 10em; /* match ul width */ top: 0; }
.sf-menu { float: right; margin-bottom: 1em; }
.sf-menu a { padding: .95em 1.1em; text-decoration: none; }
.sf-menu a, .sf-menu a:visited { /* visited pseudo selector so IE6 applies text colour*/ color: #444; }
.sf-menu li { }
.sf-menu li li { background: #fff; width: 200px; }
.sf-menu li li li { background: #fff }
.sf-menu li:hover,.sf-menu li.sfHover,.sf-menu a:focus,.sf-menu a:hover,.sf-menu a:active { outline: 0; color: #ccc; }
.sf-menu a.sf-with-ul { min-width: 1px }
.sf-sub-indicator { position: absolute; display: block; right: .75em; top: 1.05em; /* IE6 only */ width: 10px; height: 10px; text-indent: -999em; overflow: hidden; }
a > .sf-sub-indicator { /* give all except IE6 the correct values */ top: 0.9em; background-position: 0 -100px; }
#nav-wrap { margin-top: 30px }
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator { background-position: -10px -100px }
.sf-menu ul .sf-sub-indicator { background-position: -10px 0 }
.sf-menu ul a > .sf-sub-indicator { background-position: 0 0 }
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator { background-position: -10px 0 }
.sf-shadow ul { padding: 0 8px 9px 0; border-top: 2px solid #33877D; width: 200px; }
.sf-shadow ul.sf-shadow-off { background: transparent; }

/* PORTOFOLIO */
#portofolio h5 {padding-top:10px;}
#filters { margin-bottom: 10px; padding: 0; }
#filters li { float: left; list-style: none; margin-right: 5px; margin-bottom: 10px; }
#filters li a { padding: 6px 15px 2px 15px; text-decoration: none; font-size: 12px; }
.portofoliothumboverlay { position: absolute; top: 0; left: 0; width: 100%; height: 97%; background: rgba(0, 0, 0, 0.8); display: block; opacity: 0; -webkit-transition: opacity 0.25s ease-out; -moz-transition: opacity 0.25s ease-out; -o-transition: opacity 0.25s ease-out; transition: opacity 0.25s ease-out; }
.portofoliothumboverlay .inner { display: block; text-align: center; position: absolute; top: 47%; left: 37%; }
.portofoliothumboverlay .viewgallery a { display: block; text-align: center; position: absolute; top: 5%; left: 81%; color: #7e7e7e; font-size: 11px; text-transform: uppercase; }
.portofoliothumboverlay:hover { -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; opacity: 1; }
.portofoliothumb { position: relative; width: 100%; height: 100%; cursor: pointer; border: none; }
.portofoliothumb:hover { opacity: 1 }
.portofoliothumb > img { width: 100%!important; height: 250px; }
a.projectdetail { background: #33877d; color: #fff; padding: 7px 7px 6px 7px; font-size: 12px; border-radius: 3px; -webkit-transition-property: color, background; -webkit-transition-duration: 1s, 1s; text-shadow: 1px 1px 1px #111; }
.projectdetail:hover { background: #70aba4; color: #fff; text-shadow: 1px 1px 1px #111; }
.galleryicon { z-index: 0; margin-right: 5px; width: 15px; }
.portofoliobutton { display: inline-block; *display: inline; padding: 4px 14px; margin-bottom: 0; *margin-left: .3em; font-size: 14px; line-height: 20px; *line-height: 20px; color: #333333; text-align: center; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; cursor: pointer; background-color: #f5f5f5; *background-color: #e6e6e6; background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(to bottom, #ffffff, #e6e6e6); background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; border: 1px solid #bbbbbb; *border: 0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0); filter: progid:dximagetransform.microsoft.gradient(enabled=false); *zoom: 1; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); border-color: #c5c5c5; border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25); }
.portofoliobutton:focus { outline: none }
.portofoliobutton.selected { color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #555; *background-color: #444; background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#444)); background-image: -webkit-linear-gradient(top, #555, #444); background-image: -o-linear-gradient(top, #555, #444); background-image: linear-gradient(to bottom, #555, #444); background-image: -moz-linear-gradient(top, #555, #444); background-repeat: repeat-x; border-color: #444 #444 #387038; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff555', endColorstr='#ff444', GradientType=0); filter: progid:dximagetransform.microsoft.gradient(enabled=false); }
.isotope-item { z-index: 2 }
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }
.isotope,.isotope .isotope-item { -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -ms-transition-duration: 0.8s; -o-transition-duration: 0.8s; transition-duration: 0.8s; }
.isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; -ms-transition-property: height, width; -o-transition-property: height, width; transition-property: height, width; }
.isotope .isotope-item { -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; -ms-transition-property: -ms-transform, opacity; -o-transition-property: -o-transform, opacity; transition-property: transform, opacity; }
.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition { -webkit-transition-duration: 0s; -moz-transition-duration: 0s; -ms-transition-duration: 0s; -o-transition-duration: 0s; transition-duration: 0s; }
/* 3 columns portofolio special stylesheet */
.threeportofolio {width:33% !important;}
.threeimage { height: 170px !important; }
.threedetail {left: 33% !important;}
.threegallery a{left:70% !important; top:10% !important;}
.threeoverlay {height:96% !important;}
/* 3 columns portofolio special stylesheet */
.fourimage { height: 130px !important; }
.fourdetail {left: 24% !important;}
.fourgallery a{left:60% !important; top:10% !important;}
.fouroverlay {height:95% !important;}
/* project details */
.detailslider {border:10px solid #fff;margin-top:13px;}

/* CONTENT ---------------------- */
.nomargin { margin-bottom: 0px !important }
.noleftmargin { margin-left: 0px; padding-left: 0px; }
.floatright,.right { float: right }
.left { float: left }
.text-left,.leftalign { text-align: left }
.text-right { text-align: right }
.text-center { text-align: center }
.hide { display: none }
.highlight { background: #ffff99 }
.clear { clear: both }
a:focus { outline: none }
#panel { background: #222; height: 70px; display: none; color: #fff; padding: 20px 0 25px 0; }
.slide { margin: 0; padding: 0; }
.btn-slide { text-align: center; width: 20px; height: 10px; padding: 10px 10px 0 0; margin: 0 auto; display: block; font: bold 120%/100% Arial, Helvetica, sans-serif; color: #fff; text-decoration: none; float: right; }
.pics { float: left; margin-right: 10px; }
.infotext { margin-top: 7px }
#subheader {  position: relative; padding: 25px 50px; position: relative; }
#subheader p { font-size: 1.4em; margin-bottom: 0; }
#subheader a { color: #fff; text-decoration: none; }
#subheader a:hover { text-decoration: none; color: #fff; }
.subheadertext {padding:40px 0 60px !important;}
.bread { font-family: DroidSansRegular; margin-top: 8px; font-size: 16px !important; }
.topborder { border-top: 4px solid }
.header { height: 80px }
.logo {
	margin-top: 10px;
	margin-bottom: 10px;
}
.logo h4 { font-size: 27px }
.hr { height: 36px }
.name { display: none }
.sidebartitle { margin-bottom: 20px; border-bottom: 1px dashed #ccc; padding-bottom: 10px; }
.sectiontitle { background: url(../images/dots.gif) repeat-x scroll 0 0 transparent; background-position: center; margin: 5px 0 25px; min-height: 20px; }
.sectiontitle h4 { font-size: 23px; background:#fff; display: inline; padding-right: 10px; padding-left: 10px; }
.centersectiontitle { background: url(../images/dots.gif) repeat-x scroll 0 0 transparent; background-position: center; margin: 10px 0 25px; min-height: 20px; text-align: center; }
.centersectiontitle h4 { font-size: 23px; background: #fff; display: inline; padding-right: 10px; padding-left: 10px; }
.wrappic { border: 1px solid #CCCCCC; padding: 2px; }
.wrappic:hover { border: 1px solid #CCCCCC; padding: 2px; background: url(../images/wraphover.png) repeat !important; }
.readmore,a.readmore { cursor: pointer; border: 0px; color: #fff; padding: 6px 10px; display: inline; -webkit-transition: background-color 300ms linear; -moz-transition: background-color 300ms linear; -o-transition: background-color 300ms linear; -ms-transition: background-color 300ms linear; transition: background-color 300ms linear; }
.readmore:hover,a.readmore:hover {
	color: #fff;
	background-color: #009;
}
#testimonials { margin: 10px 0 20px;border-left: solid 6px #33877d;}
#testimonials blockquote {  font-family: Georgia, "Times New Roman", Times, serif; font-style: italic; color: #808080; display: block; }
#testimonials blockquote p { margin: 0 !important; padding: 5px!important; }
#testimonials blockquote cite { font-style: normal; display: block; text-transform: uppercase; font-weight: bold; font-style: italic; padding-left: 5px; margin-top: 10px; }
#footer { background: #151515; color: #666; padding: 30px 0; margin-top: 36px; }
#footer a { color: #666; font-size: 12px; }
#footer h1 { font-size: 16px; color: #ccc; margin-bottom: 20px; }
.newsmargin { margin-left: 46px }
#footer .button { box-shadow: none; width: auto; nowhitespace: afterproperty; background: #444; color: #999; cursor: pointer; display: inline-block; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-size: 13px; font-weight: bold; line-height: 1; margin: 0; outline: none; padding: 10px 10px 11px; position: relative; text-align: center; text-decoration: none; -webkit-transition: background-color 0.15s ease-in-out; -moz-transition: background-color 0.15s ease-in-out; -o-transition: background-color 0.15s ease-in-out; transition: background-color 0.15s ease-in-out; }
#footer input[type="text"] { background: #333; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; border: 1px solid #333; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; color: #999; display: block; font-size: 12px; margin: 0 0 12px 0; padding: 6px; height: 32px; width: 100%; -webkit-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -o-transition: all 0.15s linear; transition: all 0.15s linear; box-shadow: none; }
.copyright { background: #111; padding: 7px 0; border-top: 1px solid #181818; color: #444; }
.small { color: #444; font-size: 11px; }
.grayscale { filter: url(filters.svg#grayscale); filter: gray; -webkit-filter: grayscale(1); opacity: 1; -webkit-filter: grayscale(100%); }
.dots { background: url(../images/dots.gif) repeat-x; height: 10px; }
.submit { padding: 3px 10px; border: 0px; color: #fff; font-size: 15px; cursor: pointer; }
.submit:hover { background: #444; -webkit-transition: background-color 300ms linear; -moz-transition: background-color 300ms linear; -o-transition: background-color 300ms linear; -ms-transition: background-color 300ms linear; transition: background-color 300ms linear; }
.tweet,.query { font: 120% Georgia, serif }
.tweet_list { -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em; list-style: none; margin: 0; padding: 0; overflow-y: hidden; }
.tweet_list li { overflow-y: auto; overflow-x: hidden; padding: 0.5em; list-style-type: none; }
.tweet_list li a { color: #0C717A }
.tweet_list .tweet_avatar { padding-right: .5em; float: left; }
.tweet_list .tweet_avatar img { vertical-align: middle }
.twoot { padding-top: 3em }
.query { margin-bottom: 2em }
.tweet_time { margin-right: 7px }
.tweetarea { background: #f8f8f8 url(../images/div.png) repeat-x; margin-top: 20px; }
.tweettext { padding: 20px 0px; margin-bottom: -37px; }
.social { display: inline-block; cursor: pointer; width: 32px; height: 32px; margin-right: 5px; }
.facebook { background: url(../images/socialpack/facebook.png) }
.facebook:hover { background: url(../images/socialpack/facebooka.png) }
.twitter { background: url(../images/socialpack/twitter.png) }
.twitter:hover { background: url(../images/socialpack/twittera.png) }
.dribbble { background: url(../images/socialpack/dribbble.png) }
.dribbble:hover { background: url(../images/socialpack/dribbblea.png) }
.deviantart { background: url(../images/socialpack/deviantart.png) }
.deviantart:hover { background: url(../images/socialpack/deviantarta.png) }
.flickr { background: url(../images/socialpack/flickr.png) }
.flickr:hover { background: url(../images/socialpack/flickra.png) }
.newsletter { width: 250px !important }
.back-top-wrapper { width: 100%; position: absolute; overflow: hidden; height: 50px; display: block; }
.back-top { bottom: 55px; right: 20px; margin-bottom: 0; display: block; position: fixed; display: scroll; display: none; }
.back-top a { width: 50px; nowhitespace: afterproperty; height: 50px; display: block; text-align: center; text-transform: uppercase; text-decoration: none; background: #333 url(../images/up-arrow.png) no-repeat center center; border-radius: 5px; /* transition */ -webkit-transition: 1s;-moz-transition:1s;transition:1s; ; }
.back-top a:hover { background-color: #333 } /* arrow icon (span tag) */
.back-top span { width: 50px; nowhitespace: afterproperty; height: 50px; display: block; border-radius: 10px; /* transition */ -webkit-transition: 1s;-moz-transition:1s;transition:1s; ; }
.minipause { height: 13px }
.smoothborder { border: 1px solid #CCC !important }
.blogstyle { padding: 22px 50px 23px 50px !important }
.blogimage { width: 99.9% }
.blogdots { margin-left: 110px; margin-top: -5px; margin-bottom: 10px; }
.authoricons { width: 30px; height: 30px; margin-right: 10px; }
.teamwrap { width: 100%; height: 200px; margin: 10px; float: left; border: 10px solid #fff; overflow: hidden; position: relative; text-align: center; -webkit-box-shadow: 0px 0px 0px 1px #E6E6E6; -moz-box-shadow: 0px 0px 0px 1px #E6E6E6; box-shadow: 0px 0px 0px 1px #E6E6E6; cursor: default; background: #fff; }
.teamwrap .mask,
.teamwrap .content { width: 100%; height: 200px; position: absolute; overflow: hidden; top: 0; left: 0; }
.teamwrap img { display: block; position: relative; }
.teamwrap h2 { text-transform: uppercase; color: #fff; text-align: center; position: relative; font-size: 17px; padding: 10px; background: rgba(0, 0, 0, 0.8); margin: 10px 0 0 0; }
.teamwrap p { font-family: Georgia, serif; font-style: italic; font-size: 12px; position: relative; color: #fff; padding: 10px 20px 10px; text-align: center; }
.teamwrap a.info { display: inline-block; text-decoration: none; padding: 7px 14px; background: #000; color: #fff; text-transform: uppercase; -webkit-box-shadow: 0 0 1px #000; -moz-box-shadow: 0 0 1px #000; box-shadow: 0 0 1px #000; }
.teamwrap a.info: hover { -webkit-box-shadow: 0 0 5px #000; -moz-box-shadow: 0 0 5px #000; box-shadow: 0 0 5px #000; }
.teambox img { -webkit-transform: scaleY(1); -moz-transform: scaleY(1); -o-transform: scaleY(1); -ms-transform: scaleY(1); transform: scaleY(1); -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out; -o-transition: all 0.7s ease-in-out; -ms-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out; }
.teambox .mask { background-color: #eee; -webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; -ms-transition: all 0.5s linear; transition: all 0.5s linear; -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; }
.teambox h2 { border-bottom: 1px solid rgba(0, 0, 0, 0.3); background: transparent; margin: 10px 40px 0px 40px; -webkit-transform: scale(); -moz-transform: scale(); -o-transform: scale(); -ms-transform: scale(); transform: scale(); color: #333; -webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; -ms-transition: all 0.5s linear; transition: all 0.5s linear; -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; }
.teambox p { color: #333; -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; -webkit-transform: scale(); -moz-transform: scale(); -o-transform: scale(); -ms-transform: scale(); transform: scale(); -webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; -ms-transition: all 0.5s linear; transition: all 0.5s linear; }
.teambox a.info { -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; -webkit-transform: scale(); -moz-transform: scale(); -o-transform: scale(); -ms-transform: scale(); transform: scale(); -webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; -ms-transition: all 0.5s linear; transition: all 0.5s linear; }
.teambox:hover img { -webkit-transform: scale(10); -moz-transform: scale(10); -o-transform: scale(10); -ms-transform: scale(10); transform: scale(10); -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; }
.teambox:hover .mask { -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; }
.teambox:hover h2,
.teambox:hover p,
.teambox:hover a.info { -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; }
.accordiontrick{overflow: hidden; display: none;}
.done { display: none }
.element .error { border: 1px solid #9F1319 }
.gmap { background: white; border: 1px solid #ccc; padding: 4px; width: 100%; height: 374px; margin-top: 14px; }
.wrapcontact { margin-left: 10px }
.ctextarea {width:98.5%;}
.socialteam.social { margin-right: 0px !important }



.optionsbutton {position:fixed;top:250px;right:-4px;border-radius:0px;z-index:100;background: #eee; border: 1px solid #aaa; border-top: 1px solid #ccc; border-left: 1px solid #ccc; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; color: #444; display: inline-block; font-size: 11px; font-weight: bold; text-decoration: none; text-shadow: 0 1px rgba(255,255,255,.75); cursor: pointer; margin-bottom: 20px; line-height: normal; padding: 8px 10px; font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;}
.optionscolor {width:20px;height:20px;border:1px solid #fff; float:left;}
