.colorme {color:#33877d;}
.nav-bar > li:hover, .nav-bar > li a:hover  { color: #749f93;}
.nav-bar > li.active > a { }
ul.flyout li a:hover, .nav-bar li ul li a:hover {color:#749f93;}
.flyout {border-top:2px solid #33877d;}
.sectiontitle {border-left: 4px solid #33877d;}
::-moz-selection{background:#33877d;color:#fff;}
::selection{background:#33877d;color:#fff;}
.ca-menu li:hover .ca-main {color: #33877d;}
.topborder { border-top:4px solid #33877d;}
.readmore {background:#33877d;}
 #subheader {
	border-top: 1px solid #33877d;
	color: #eee;
	background-color: #930;
}
 #subheader a {color: #eee;}
 #subheader a:hover {color: #fff;}
 .readmore {background:#33877d;}
 #testimonials blockquote cite {
	color:#009;
}
 .tags {background:#33877d;}
 ul.pagination li.current a {background: #33877d;}
.saymore {color:#33877d;}
.submit {background:#33877d;} 
dl.tabs dd.active { border-bottom: 3px solid #33877d;}
ul.accordion > li.active {border-top: 3px solid #33877d;}
div.alert-box.default { background-color: #33877d;}
.slide {	margin: 0;	padding: 0;	border-top: solid 4px #33877d;}
.btn-slide {
	background-color: #930;
	background-image: url(../../images/plus.png);
	background-repeat: no-repeat;
}
.btn-slide.active { background: #33877D url(../../images/minus.png) no-repeat;}
#footer {border-top:#33877D 4px solid;}
.back-top a:hover{background-color: #33877D;}
.sf-shadow ul {border-top:2px solid #33877D;}
.panel {border-left:4px solid #33877D;}
.colorbackground {background:#33877D;}
#testimonials {border-left: solid 6px #33877d;}
.ei-title h2{
	background-color: #930;
}
